<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.celebiseyehatbilet_tatilsistemi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityMusteriBilgileriniGoruntule"></activity>
        <activity android:name=".ActivityOtelPuanDuzenle" />
        <activity android:name=".ActivityRezervasyonSil" />
        <activity android:name=".ActivityOtelRezervasyonGoruntule" />
        <activity android:name=".ActivityMusteriListele" />
        <activity android:name=".ActivityOtelBilgileriniGoruntule" />
        <activity android:name=".ActivityOtelRezervasyonuYap" />
        <activity android:name=".ActivityOtelListele" />
        <activity android:name=".ActivityOtelFiltrele" />
        <activity android:name=".ActivityOdemeYap" />
        <activity android:name=".ActivityBiletSat" />
        <activity android:name=".ActivitySeferBilgileriniGoruntule" />
        <activity android:name=".ActivitySeferListele" />
        <activity android:name=".ActivityUlasimFirmasiSecimi" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>